<!--<button type="button" class="btn btn-sm btn-primary" (click)="openModal( template )">Primary</button>-->

<table class="table table-hover col-sm-12">
  <thead>
  <tr>
    <th>Notebook ID</th>
    <th>Title</th>
    <th>Description</th>
    <th>User ID</th>
    <th>action</th>
  </tr>
  </thead>
  <tbody *ngFor="let item of list; let idx = index">
    <tr>
      <th scope="row">{{ item.notebookId }}</th>
      <td>{{ item.title }}</td>
      <td>{{ item.userId }}</td>
      <td>{{ item.description }}</td>
      <td><span class="badge badge-success" (click)="onClickSelect( item )">Edit</span><span class="badge badge-danger" (click)="onClickDelete( item.id, idx )">Delete</span></td>
    </tr>
  </tbody>
</table>


<!--<template #template>-->
  <!--<div class="modal-header">-->
    <!--<h4 class="modal-title pull-left">Modal</h4>-->
    <!--<button type="button" class="close pull-right" aria-label="Close" (click)="hide( template );">-->
      <!--<span aria-hidden="true">&times;</span>-->
    <!--</button>-->
  <!--</div>-->
  <!--<div class="modal-body">-->
    <!--This is a modal.-->
  <!--</div>-->
<!--</template>-->
