<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Spring</a>

  <div class="navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <span class="nav-link" (click)="nav('')">Home <span class="sr-only">(current)</span></span>
      </li>
      <li class="nav-item">
        <span class="nav-link" (click)="nav('create')">Add</span>
      </li>
    </ul>
  </div>
</nav>
