<form>
  <div class="form-group">
    <label for="title" >Title</label>
    <input type="text" class="form-control" id="title" [(ngModel)]="itemForm.title" aria-describedby="emailHelp" placeholder="Title" name="title">
  </div>
  <div class="form-group">
    <label for="desc">Description</label>
    <textarea class="form-control" id="desc" rows="3" [(ngModel)]="itemForm.description" name="description"></textarea>
  </div>
  <button type="button" class="btn btn-primary" [disabled]="!validate" (click)="onClickSave()">Save</button>
</form>
