div.form-group{
  label{
    width: 180px;
  }
  .form-control{
    display: inline;
    width: 80%;
  }
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea{
  resize: none;
}
